@font-face {
  font-family: "Press Start 2P";
  src: url("./asset/fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #161d2f;
}

.App {
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  position: fixed;
  height: 720px;
  width: 1280px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url("https://dvizhok-hosted-content.s3.us-east-2.amazonaws.com/images/landing/bg-flappy-hape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Bird {
  position: absolute;
  top: 20px;
  left: 70px;
  border-radius: 25%;
}
.Bird2 {
  position: absolute;
  top: 20px;
  left: 70px;
  width: 50px;
  height: 50px;
  border-radius: 25%;
  background: linear-gradient(75deg, green, deeppink);
}

.Pipe {
  position: absolute;
  width: 50px;
  background-color: #c1ad3aa2;
  background-image: url("https://dvizhok-hosted-content.s3.us-east-2.amazonaws.com/images/landing/hape_bg_white_pipe.png");
  box-shadow: inset 0px 0px 4px 0px #ffdb11;
}
.bottom {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.top {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.exp-btn {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  white-space: nowrap;
  border-radius: 0.75rem;
  background-color: #1eac11;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  padding: 8px;
}
.exp-btn:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  animation: none;
  background-color: #27df16;
  cursor: pointer;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.Score {
  background-color: rgba(211, 211, 211, 0.6);
  color: #000;
  font-size: 32px;
  padding: 8px;
  z-index: 2;
  position: absolute;
}

.Controls {
  background-color: rgba(211, 211, 211, 0.6);
  color: #000;
  font-size: 16px;
  padding: 8px;
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.Key {
  border: 2px solid #000;
  padding: 2px;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
